<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87614919835-r2rltp85j9hk9gjq7t284027e6j155rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87614919835-r2rltp85j9hk9gjq7t284027e6j155rl</string>
	<key>API_KEY</key>
	<string>AIzaSyB8d92H5DpnqXFriehSThBVwRYsmJDjTgo</string>
	<key>GCM_SENDER_ID</key>
	<string>87614919835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isyet.U-FungiFinder</string>
	<key>PROJECT_ID</key>
	<string>isyet-fungifinder</string>
	<key>STORAGE_BUCKET</key>
	<string>isyet-fungifinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87614919835:ios:4423eac9a663e22c33223e</string>
</dict>
</plist>